:root {/*red links light blue-ish background*/
/*    --background-color: #ffffff;*/
/*    --background-color: #fdfdf6;*/
    --background-color: #fafeff;
    --default-font-color: #333;
    --hyperlink-color: #b65263;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #980821;
}

body {
    margin: 60px auto;
    width: 70%;
    max-width: 700px;
    background-color: var(--background-color);
    color: var(--default-font-color);
    font-size: 18px;
    font-family:'Lato', sans-serif;
}

nav {
    white-space: nowrap;
    text-align: center;
}

/* navigation bar for small screens */
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li, footer ul li {
    margin-right: 20px;
}


/* navigation bar for big screens */
@media only screen and (min-device-width: 400px) {
    nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
    }

    nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
    }
}

a {
    text-decoration: none;
    color: var(--hyperlink-color);
}

a:hover {
    text-decoration: none;
    color: var(--hyperlink-hover-color);
}
nameheader {
    font-size: 30px;
    font-weight: bold;
    color: var(--heading-color);
}

h1, h2, h3, h4 {
    color: var(--heading-color);
}

h1 a {
    color: var(--heading-color);
}

p {
    color: var(--default-font-color);
}
footer {
    border-top: 1px solid #d5d5d5;
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}

.twitter svg {
  width: 15px;
  height: 15px;
  fill: var(--hyperlink-color);
}

.twitter svg:hover {
  width: 15px;
  height: 15px;
  fill: var(--hyperlink-hover-color);
}

.linkedin svg {
  width: 15px;
  height: 15px;
  fill: var(--hyperlink-color);
}

.linkedin svg:hover {
  width: 15px;
  height: 15px;
  fill: var(--hyperlink-hover-color);
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--hyperlink-color);
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

#photo {
    padding-top: 30px;
}

img {
    max-width: 100%;
    height: auto;
}
