/* some other colour schemes I tried */

:root {
    --background-color: #c5c1c0;
    --default-font-color: #ffffff;
    --hyperlink-color: #a9a9a9;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #ff383f;
}

:root {
    --background-color: #000000;
    --default-font-color: #ffffff;
    --hyperlink-color: #062f4f;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #813772;
}

:root {
    --background-color: #efefef;
    --default-font-color: #a9a9a9;
    --hyperlink-color: #a9a9a9;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #ff383f;
}

:root {
    --background-color: #d7cec7;
    --default-font-color: #565656;
    --hyperlink-color: #c09f80;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #76323f;
}

:root { /*red links brown background*/
    --background-color: #d7cec7;
    --default-font-color: #333;
    --hyperlink-color: #b65263;
    --hyperlink-hover-color: #cb8390;
    --heading-color: #980821;
}


:root {/*okay*/
    --background-color: #f1f1f1;
    --default-font-color: #000;
    --hyperlink-color: #6d97a0;
    --hyperlink-hover-color: #93c1cb;
    --heading-color: #517076;
}

