---
layout: default
title: Research
---
<center><h1>{{ page.title }}</h1></center>
<p>
{% assign sorted = site.research_articles | reverse %}
{% for ra in sorted %}
({{ ra.year }})
{% if ra.external_url == "none" %}
<a href="{{ ra.url }}" title="{{ ra.title }}">{{ ra.title }}</a></li>
{% else %}
<a href="{{ ra.external_url }}" title="{{ ra.title }}">{{ ra.title }}</a></li>
{% endif %}
<br>
<i>{{ ra.journal }}</i>
<br>
{% if ra.abstract %}
{{ ra.abstract }}<br>
{% endif %}
<br><br>
{% endfor %}
</p>
