<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- Get Lato font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<!-- for testing fonts
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
-->

<meta name="viewport" content="width=device-width, initial-scale=1">


<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <link rel="shortcut icon" type="image/png" href="{{ "/assets/me_thumbnail.png" | prepend: site.baseurl }}" >
			<!-- apparently an SEO improvement. See https://github.blog/2016-05-10-better-discoverability-for-github-pages-sites/ -->
			{% seo %}

			<!-- add thumbnails for twitter, facebook etc -->
			{% if page.thumbnail %}
			<meta name="twitter:image" content=page.thumbnail>
			<meta property="og:image" content=page.thumbnail>
			<meta name="image" content=page.thumbnail>
			{% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
			  <li><nameheader><a href="/">Ben Snodin</a></nameheader></li>
		        	<li><a href="/">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li class="twitter">
				  <a href="https://twitter.com/bsnodin">
				    {% include social/twitter.svg %}
				  </a>
				</li>
				<li class="linkedin">
				  <a href="https://www.linkedin.com/in/bensnodin">
				    {% include social/linkedin.svg %}
				  </a>
				</li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<!--<footer>
			</footer>-->
		</body>

	</html>
